main .before1 {
	position:relative;
	z-index:0;
}
main .before1::before {
	content:"";
	position:absolute;
	transition:all 1s ease;
	z-index:1;
	height:100%;
	width:0;
	left:15px;
	top:0;
	bottom:0;
	right:0;
	background-image:url("canada7.jpeg");
	background-size:540px 300px;
	background-repeat:no-repeat;
	cursor:pointer;
}
main .before1:hover::before {
	width:100%;
	right:0;
} 
.link1:hover .h3 {
	text-decoration:underline;
}
.unline {
	text-decoration:none;
	transition:all 1.5s ease;
}
.unline:hover {
	text-decoration:underline;
}
.section2 {
	position:relative;
	z-index:1;
}
.section2::before {
	content:"";
	transition:all 1s ease;
	z-index:-1;
	position:absolute;
	background-color:#E14940;
	opacity:0.1;
	top:50%;
	bottom:50%;
	left:50%;
	right:50%;
	height:0;
	width:0;
}
.section2:hover::before {
	height:100%;
	width:100%;
	top:0;
	left:0;
	border-radius:50%;
	right:0;
	bottom:0;
}
.view2 {
	animation-name:animationone;
	animation-delay:3s;
	animation-duration:18s;
	animation-iteration-count:infinite;
	animation-play-state:running;
	animation-direction:normal;
}
@keyframes animationone {
	0% {background-image:url("canada18.jpeg");background-repeat:no-repeat;background-size:100% 100%;}
	25% {background-image:url("canada19.jpeg");background-repeat:no-repeat;background-size:100% 100%;}
	50% {background-image:url("canada20.jpeg");background-repeat:no-repeat;background-size:100% 100%;}
	75% {background-image:url("canada19.jpeg");background-repeat:no-repeat;background-size:100% 100%;}
	100% {background-image:url("canada18.jpeg");background-repeat:no-repeat;background-size:100% 100%;}
}
.main2 {
	border:1px solid 0;
	position:relative;
	top:50px;
	left:-14.4%;
	display:flex;
	flex-direction:row;
	align-items:stretch;
	width:128.5%;
	height:550px;
}
.little1 {
	border:1px solid 0;
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	flex:1;
	animation-name:animation1;
	animation-duration:3s;
}
@keyframes animation1 {
	from {opacity:0.3;}
	to {opacity:1;}
}
.images1 {
	height:100%;
	width:100%;
	cursor:pointer;
}
.blackdiv {
	border:1px solid 0;
	position:relative;
	left:-14.4%;
	top:50px;
	width:128.5%;
	display:flex;
	padding:40px 0;
	background-color:#D90600;
	animation-name:animation2;
	animation-delay:2s;
	animation-direction:normal;
	animation-duration:20s;
	animation-iteration-count:infinite;
}
@keyframes animation2 {
	0% {background-color:#000000;}
	25% {background-color:#D90600;}
	50% {background-color:#000000;}
	75% {background-color:#D90600;}
	100% {background-color:#000000;}
}
.link {
	margin-left:37%;
}
.text {
	color:#FFFFFF;
	font-size:25px;
	text-align:center;
	text-decoration:underline;
	word-spacing:9px;
}
.left , .right {
	color:#FFFFFF;
	position:absolute;
	top:40%;
	font-size:40px;
	padding:30px;
	border-radius:16px;
	transition:background-color 1s ease ;
	cursor:pointer;
}
.left {
	left:0;
}
.right {
	right:0;
}
.left:hover , .right:hover {
	background-color:#D90600;
}
.big {
	border:1px solid 0;
	position:relative;
	margin-top:150px;
	left:-14.4%;
	bottom:100px;
	width:128.5%;
	height:150px;
	display:flex;
	flex-direction:row;
	align-items:stretch;
	flex-wrap:wrap;
}
.samediv {
	border:1px solid 0;
	position:relative;
	top:0;
	bottom:0;
	display:flex;
	align-items:stretch;
	flex-direction:row;
	flex-wrap:wrap;
	height:100%;
	flex:1;
	left:0;
}
.little2 {
	border:1px solid 0;
	flex:1;
	height:100%;
	opacity:0.5;
	transition:all 1.5s ease;
}
.active , .little2:hover {
	opacity:1;
}
.images2 {
	height:100%;
	width:100%;
	cursor:pointer;
}
.flag {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	height:100%;
	width:15%;
	cursor:pointer;
}
#smooth1 {
	margin-top:25px;
	margin-bottom:25px;
	border:1px solid 0;
}
.modal-div {
	border:1px solid 0 ;
	display:none;
	position:fixed;
	height:100%;
	width:100%;
	left:0;
	top:0;
	bottom:0;
  	background-color:rgba(0,0,0,0.9);
	overflow:auto;
	padding-top:50px; 
	animation-name:fromlittletobig;
	animation-duration:0.7s;
	z-index:1;
}
@keyframes fromlittletobig {
	from {transform:scale(0);}
	to {transform:scale(1);}
}
.img2 {
	margin:auto;
	display:flex;
	width:80%;
	height:85%;
}
.close {
	position:absolute;
	top:65px;
	right:40px;
	color:#FFFFFF;
	font-size:50px;
	transition:all 1s ease;
	cursor:pointer;
}
.close:hover {
	opacity:0.6;
	color:#FFFFFF;
}
.close:focus {
	opacity:0.6;
	color:#FFFFFF;
}
.buttonscroll {
	display:none;
	position:fixed;
	right:30px;
	bottom:35px;
	outline:none;
	border:none;
	border-radius:10px;
	z-index:5;
	text-align:center;
	background-color:#FF3547;
	cursor:pointer;
	padding:10px 20px;
	transition:background-color 1.5s ease;
	animation-name:loud;
	animation-duration:3s;
}
@keyframes loud {
	from {opacity:0.3;}
	to {opacity:1;}
}
.buttonscroll:hover {
	background-color:#B42531;
}
.icon {
	color:#FFFFFF;
	font-size:50px;
}
@media screen and (max-width:1365px) {
	.big {
		flex-direction:column;
		height:300px;
	}
}
@media screen and (max-width:905px) {
	.flag {
		display:none;
	}
}
@media screen and (max-width:870px) {
	html {
		left:0;
	}
}
@media screen and (max-width:767px) {
	.link {
		margin-left:28%;
	}
}
@media screen and (max-width:705px) {
	.left {
		left:40px;
	}
	.right {
		right:40px;
	}
}
@media screen and (max-width:600px) {
	.link {
		margin-left:25%;
	}
	.text {
		font-size:20px;
	}
}
@media screen and (max-width:595px) {
	.left {
		left:55px;
	}
	.right {
		right:55px;
	}
}
@media screen and (max-width:576px) {
	.card {
		width:85%;
		left:7%;
	}
}



